.hero-name {
    color: white;
    border: none;
    font-family: 'Big Noodle Too Oblique';
    font-size: 1.75em;
    background-color: #0192c7;
    outline: none;
    min-height: 100%;
    padding: 0 0.2em 0 0.2em;
}

.hero-name.selected {
    background-color: green;
}

img:hover,.hero-name:hover {
    cursor: pointer;
}

img {
    height: 2em;
    vertical-align: bottom;
    background: black;
}

.card {
    margin: 0.25em;
    display: inline-flex;
    background-color: red;
}

.card.selected {
    background-color: green;
}

.card:hover {
    box-shadow: 0px 0px 0.5em #21c0fa;
}

.card:active {
    transform: translate(1px, 1px);
}