.hero-name {
    color: white;
    border: none;
    font-family: 'Big Noodle Too Oblique';
    font-size: 2em;
    background-color: #0192c7;
    outline: none;
    min-height: 100%;
    padding: 0 0.2em 0 0.2em;
    white-space: nowrap;
}

.hero-name.selected {
    background-color: green;
}

.hero-image:hover,.hero-name:hover {
    cursor: pointer;
}

.hero-image {
    height: 3em;
    vertical-align: bottom;
    background: black;
}

.card {
    margin: 0.25em;
    display: inline-flex;
    background-color: #0192c7;
    width: 13em;
    align-content: center;
    align-items: center;
}

.card.selected {
    background-color: green;
}

.card:hover {
    box-shadow: 0px 0px 0.5em #21c0fa;
}

.card:active {
    transform: translate(1px, 1px);
}

@media (max-width: 1360px) {
    .hero-name {
        font-size: 2em;
    }
    .hero-image {
        height: 3em;
    }
    .card {
        width: 13em;
    }
}

@media (max-width: 1090px) {
    .hero-name {
        font-size: 1.75em;
    }
    .hero-image {
        height: 2.75em;
    }
    .card {
        width: 12em;
    }
}

@media (max-width: 710px) {
    .hero-image {
        height: 2em;
    }
}