@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Big Noodle Titling';
  src:
    url('/assets/fonts/big_noodle_titling-webfont.woff2') format('woff2'),
    url('/assets/fonts/big_noodle_titling-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #2c3e50;
  --secondary-color: #f06414;
  --accent-color: #ffa500;
}

html {
  background-color: var(--primary-color);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--primary-color);
  color: white;
  font-family: 'Big Noodle Titling', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  color: #ffa500;
  text-decoration: underline;
}

a:hover {
  color: #ff4500;
}

a:visited {
  color: #ffa500;
}

a:visited:hover {
  color: #ff4500;
}

a:active {
  color: #ffa500;
}
