<nav class="topbar-main-container unselectable">
  <a class="left-container" [routerLink]="['/']">
    <img
      class="ow-logo"
      alt="Overwatch Logo"
      src="../../../assets/imgs/ow-logo.svg"
    />
    <h1 class="main-title">Overwatch Hero Picker</h1>
  </a>

  <div class="right-container">

    <a class="img-link" [routerLink]="['/about']" >
      <img
        class="info-icon"
        title="About"
        alt="About"
        src="../../../assets/imgs/info-icon.svg"/>
    </a>

    <a class="img-link" target="_blank" rel="noreferrer" href="https://github.com/andrerfcsantos/overwatch-hero-picker">
      <img
        class="github-logo"
        title="See this project on github"
        alt="Github Logo"
        src="../../../assets/imgs/github-logo.png"/>
    </a>
  </div>
</nav>
