<div class="about-main-container">
    <h2 class="title">About this site</h2>

    <p class="paragraph-text">
        When playing Overwatch, we all had those moments where we are unsure about which hero to play.
    </p>

    <p class="paragraph-text">
        In those moments you may want a hero to be chosen for you! But more often than not, you don't want the hero chosen to be completely random. It would be nice if the random selection was between heroes you actually want to play. 
    </p>

    <p class="paragraph-text">
        That's where this site comes in! Just select the heroes you want to play and get a random one from that selection. You can also use this site to select heroes you are not confortable playing and get a random new one to try and improve.
    </p>

    <h2 class="title">Why another Hero Picker?</h2>

    <p class="paragraph-text">There are several other random hero pickers/generators for Overwatch, but i found most of them too be either too simple - without the option to filter heroes -  or too complicated. With this hero picker, i tried to make something simple, but useful.</p>

    <p class="paragraph-text">There's also the issue with ads, which some other hero pickers have. This is an annoyance, specially on mobile devices. For that reason, this site has no ads and i have no itention to add them in the future.</p>

    <h2 class="title disclaimer-header">Disclaimer</h2>

    <p class="paragraph-text">
        This is a fan-site and it's not in any way affilliated with Blizzard Entertainment.
    </p>
    
</div>


